/* ------------------------- fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap');

/* -------------------------colors
#ffbf80;
#fff;
*/

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: radial-gradient(#ffbf80, #DA4424) no-repeat;
}

header {
    padding: 20px;
    font-family: Potta One, Sans-Seriff;
    text-align: center;
}

.description h1 {
    font-size: 45px;
}

.description p {
    font-size: 20px;
}

/*-------------------------- button styling */

.btn {
    cursor: pointer;
    background-color:
}

/*----------------------- Overlay text */

.overlay {
    font-family: Potta One, sans-serif;
    font-size: 30px;
    text-align: center;
}


/* ---------------------- dashboard */

.dashboard {
    font-family: Potta One, sans-serif;
    font-size: 20px;
    padding: 16px;
    margin: auto;

}

/*-------------------------- scores */

.scores {
    display: inline-block;
    padding: 20px;
}

/*-------------------------- counter timer */
.counter-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.move-counter {
    margin-right: 20px;
    font-size: 30px;
}

.timer {
    margin-left: 20px;
    font-size: 30px;
}

.reset {
    display: flex;
    justify-content: center;
}

.reset input {
    background-color: #3533C8;
}


/*-------------------------- modal */

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-content {
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #eee;
    width: 90%;
}

.close {
    font-size: 25px;
}

/* ------------------------- card section */


.game-container {
    margin: 10px;
    height: 80%;
    width: 80%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}


.card {
    display: inline-block;
    margin: 10px;
    line-height: 50px;
    padding: 5px;
    width: 130px;
    height: 175px;
    border-radius: 8px;
    background-color: #fff;
    background-image: image("assets");
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #595854;
}

.card:hover {
    border: 1px black solid;
}

.playing-card {
    position: absolute;
    display: block;
    width: 93%;
    height: 94%;
    border-radius: 12px;
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.card-back {}

.card-front {}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
}
