/* -------------------------colors
#94928d;
#fff;
*/


body {
    padding: 0px;
    margin: 0px;
    background-color: #94928d;
}

.desc p {
    text-align: center;
}

/* ------------------------- card section */


.board {
    width: 100%;
}

.row {
    text-align: center;
}

.playing-card {
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 5px;
    width: 65px;
    height: 89px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #595854;
}

.playing-card:hover {
    border: 1px black solid;
}

.one {
    background-color: red;
}

.two {
    background-color: yellow;
}

.three {
    background-color: blue;
}

.four {
    background-color: green;
}

.five {
    background-color: black;
}

.six {
    background-color: brown;
}

.seven {
    background-color: aqua;
}

.eight {
    background-color: crimson;
}

.nine {
    background-color: pink;
}

.face-hidden {
    background-color: #fff;
}
